body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.dashboard-container {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 250px;
  background-color: #090b11;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  color: white;
  text-align: left;
  padding-left: 10px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar nav ul li a:hover {
  background-color: #1f2230;
  border-radius: 5px;
}

main {
  flex: 1;
  padding: 20px;
  margin-left: 290px;
}

h1 {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #090b11;
  color: white;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  border-radius: 5px;
  width: 80px;
  height: 50px;
  object-fit: cover;
}

.alert-success {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #d1fae5;
  color: #065f46;
  border-left: 5px solid #10b981;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 9999;
  animation: fadeInOut 5s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container .input-field {
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field input,
textarea,
select {
  width: 97.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container input[type="file"] {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  background-color: #090b11;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #575757;
}

.red {
  background-color: red;
}

.kamar-img {
  margin-top: 20px;
}

.kamar-img img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #b6b6b6;
}

table th {
  background-color: #090b11;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e0e0e0;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 27px;
  border: 1px solid #b6b6b6;
}

.button-group .btn {
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.detail {
  background-color: dodgerblue;
}

.hapus {
  background-color: red;
}

.edit {
  background-color: orange;
}

.danger {
  background-color: red;
}

.success {
  background-color: green;
}

.primary {
  background-color: dodgerblue;
}

.badge {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 12px;
  text-transform: capitalize;
}

.ditolak {
  background-color: #f1948a;
  color: #7f1c1c;
}

.batal {
  background-color: #f1948a;
  color: #7f1c1c;
}

.dipesan {
  background-color: #f7c02e;
  color: #8c5e06;
}

.konfirmasi {
  background-color: #5dade2;
  color: #1f618d;
}

.selesai {
  background-color: #58d68d;
  color: #1d8348;
}

.tersedia {
  background-color: #58d68d;
  color: #1d8348;
}

.terisi {
  background-color: #f7c02e;
  color: #8c5e06;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.card {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
}

.form-search {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

button.search {
  background-color: #090b11;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.search:hover {
  background-color: #575757;
}

.search-input {
  display: flex;
  gap: 5px;
}

.nav {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
