body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #090b11;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #575757;
}

p {
  text-align: center;
  color: #666;
}

a {
  color: #090b11;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.alert {
  margin: 10px 0 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #d1fae5;
  color: #065f46;
  border-left: 5px solid #10b981;
}

.error {
  background-color: #fef2f2;
  color: #f87171;
  border-left: 5px solid #f87171;
}
